.footer {
    background: rgb(39, 39, 37) ;
    color: var(--primary-dark-grey);
    padding: 3rem;
    color: white;
   /* height: 100vh;*/
    border-top-style: solid; 
   /* border-top-width: 30px;*/
    position: relative;
    /*background-color:darkkhaki;*/

    margin-top: auto;
}

/* 
#copyright{
    font-size: 10px;
} */



.footer p:hover {
    text-decoration: none;
    color: var(--primary-orange-color);
    cursor: pointer;
}

.footer p {
    margin-bottom: 0;
    font-family: 'PT Serif', serif;
}

.thankyou-note {
    font-size: x-large;

}





@media screen and (max-width: 580px) {
.footer {
      flex-direction: column;
     display: block;
     min-height: 1000px;
      /* padding: 0px 150px;*/
    }
  
}

/* .footer{

    height: 500vh;
    position: relative;
    border-color:dimgrey;
    border-top-style: solid; 
    border-top-width: 30px;
} */